.banking{
  text-align: left;
  background-color: #C0C0C0;    
  padding: 5px;
  color: black;
  
}
.heading{
  
  color:black;
  font-size: 40px;
  text-decoration: none;
}
.nav-item{
  display: inline;
  float: right;
  
  
}
.nav-item .nav-link{
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  
  
}
li{
 padding-top: 10px;
}
a.sub_heading{
  padding-right: 500px;
  font-size: 18px;
  display: inline;
  text-decoration: none;
  color: white;
}
a.account{
  padding-right: 40px;
  font-size: 18px;
  display: inline;
  text-decoration: none;
  color: white;   
}
.menu{
  text-decoration: none;
  color:black;
  padding: 10px;
  margin-left: 70px;
  width: 5px;

  
  
}