body  
{  
    margin: 0;  
    padding: 0;  
    /* background-color:#6abadeba;   */
    font-family: 'Arial';  
}  
.loginbox{  
    height: auto;
        width: 310px;  
        /* overflow: hidden;   */
        margin: auto;  
        margin-top: 90px;
        padding: 50px;  
        background: #AAE2FA;  
        border-radius: 12px ;  
          
}  
h1{  
    text-align: center;  
    color: #277582;  
    /* padding: 20px;   */
}  
label{  
    color: black;  
    font-size: 17px;  
}  
#email{  
    margin-bottom: 20px;
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#password{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#submit{ 
    margin-top: 20px; 
    width: 300px;  
    height: 4s0px;  
    /* border: none;  */
    width: 310px;
    border-radius: 17px;  
    padding-left: 9px;  
    color: blue;  
  
  
}  
span{ 
    margin-top: 30px; 
    color: black;  
    font-size: 17px;  
}  
a{  
    margin-top: 20px; 
    width: 300px;  
    height: 30px;  
    border: none; 
    width: 310px;
    border-radius: 17px;  
    padding-left: 9px;  
    color: blue;   
} 
