*{
    margin:0;
    padding:0;
}

.loginbox{
    margin-top: 120px;
    border: 3px solid #ccc;
    margin-right:35% ;
    margin-left: 30%;
    padding:10px;
    background-color: #f2f2f2;
    border-radius: 5px;
}
td
{
    padding:10px;
    /* border-radius: 5px; */
}
th{
    padding:15px;
}
input{
    padding:5px;
    border-radius: 5px;
    /* border:none; */
}
label{
    color:black;
}
h1
{
    text-align: center;
    padding:10px;
}
#reset{
    margin-left: 38%;
}
#buttons{
    margin-top:5px;
    padding:10px;
    border-radius: 10px;
}