*{
    margin: 0;
    padding:0;
}

form {
    background-color: #DCDCDC;
    border: 1px solid #A9A9A9;
    padding: 15px;
    margin: 20px 500px 100px 500px;
}

input,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.formButton {
    width: 100%;
    background-color: #84CBFF;
    font-size: 15px;
    color: white;
    padding: 14px 20px;
    margin-right: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
}

.formHead {
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    margin-top: 150px;
}
h1{
    text-align: center;
}

